.kalender-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.grid-kalender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    text-align: center;
    color: #444;
}

.nama-hari {
    font-weight: bold;
    color: #888;
}

.hari {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

#bulan-sebelumnya, #bulan-setelahnya {
    color: var(--primary) !important;
    border: none !important;
    outline: none !important;
}

.hariIni {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.highlight {
    padding: 10px 0;
    cursor: pointer;
    text-decoration: underline;
}

.txt-date-event {
    color: var(--secondary);
    text-decoration: underline;
}