.scroll-x {
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;     
    scrollbar-width: none;        
}

body {
    overflow: auto;
    font-family: "Poppins", sans-serif;
}

.scroll-x::-webkit-scrollbar {
    display: none;               
}

a.card {
    text-decoration: none;
    color: inherit;
}

a.card.position-relative i, a.card.position-relative p
{
    font-size: 12px;
} 
