.scroll-x {
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;     
    scrollbar-width: none;        
}

.scroll-x::-webkit-scrollbar {
    display: none;               
}

a.card {
    text-decoration: none;
    color: inherit;
}

a.card.position-relative i {
    font-size: 10px;
} 

a.card.position-relative p {
    font-size: 10px;
} 
